body {
    background-image: linear-gradient(to top,
        #0c3483 0%,
        #a2b6df 100%,
        #6b8cce 100%,
        #a2b6df 100%);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    font-family: Montserrat, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  html {
    height: 100%;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header .container {
    max-width: 1600px;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  
  
  header .container p {
    text-transform: uppercase;
    color: #222;
    font-weight: 900;
    color: transparent;
    font-size: 0px;
  }
  
  header .container p span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(20px, 8vw, 120px);
  }
  
  header .container p span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  
  header .container p:nth-child(1) {
    font-weight: 300;
    animation: txt-appearance 0s 1s forwards;
  }
  
  header .container p:nth-child(2) {
    animation: txt-appearance 0s 1.25s forwards;
  }
  
  header p:nth-child(1) span::after {
    background: salmon;
    animation: slide-in 0.75s ease-out forwards,
      slide-out 0.75s 1s ease-out forwards;
  }
  
  header .container p:nth-child(2) span::after {
    background: royalblue;
    animation: slide-in 0.75s 0.3s ease-out forwards,
      slide-out 0.75s 1.3s ease-out forwards;
  }
  
  @keyframes slide-in {
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes slide-out {
    100% {
      transform: translateX(100%)
    }
  }
  
  @keyframes txt-appearance {
    100% {
      color: #222;
    }
  }
  
  
  
  /* Je fais la partie nav */
  
  
  nav {
    width: 100%;
  }
  
  .liens {
    max-height: 100px;
    min-height: 30px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  
  .liens img {
    height: 40px;
  }
  
  .liens #mail img {
    height: 50px;
  }
  
  .liens a :hover {
    transition: 1s;
    transform: scale(1.3);
  }
  
  
  
  /* partie liens du portfolio */

  /* ancienne partie en cards */
  
  main {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    
  }


.containerSlider {
  padding-top: 3em;
  margin: auto;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden; /* <===  */
  border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
  position: relative;
}
.description {
  height: 1.8em;
  background-color: black;
  font-size: larger;
  font-weight: 900;
  color: white;
  width: 55%;
  position: absolute;
  bottom: calc(7% - 1.8em);
  border-radius: 0 10px 10px 0;
  

}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}
.btn:active {
  transform: scale(1.1);
}
.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}


  .home {
    padding: 1em;
    width: 85%;
    margin: auto;
  }
  
  
  
  .home .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5em;
    font-size: 2em;
  }
  
  .home a {
    text-decoration: none;
    color: black;
    border: 1px black solid;
    border-radius: 5px;
    padding: 1em;
  }
  
  
  .button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 salmon;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 salmon;
  }
  
  
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }

  
